@import "tailwindcss";

:root {
  /* couleurs */
  --mint: #5aad96;
  --beige: #e6c8a1;
  --dark: #2b2926;
  --mint-2: #50a47f;
  --orange: #de7028;
  /* typo */
  --ff-logo: "Monoton", cursive;
  --ff-heading: "Oswald", sans-serif;
  --ff-body: "Source Sans Pro", sans-serif;
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  padding: 10px;
}

body {
  font-family: var(--ff-body);
  background: var(--beige);
  color: var(--dark);
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.92);
}

